.App {
    text-align: center;
    background-color: #282c34;
    .App-header {
        min-height: 100vh;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
        width: 40%;
        margin: 0 auto;
        .App-logo {
            height: 15vmin;
            pointer-events: none;
        }
        h3 {
            margin: 0;
            font-weight: normal;
        }
        .todoList {
            .add-todo {
            }
            .content-todo {
                p {
                    margin: 5px;
                    padding: 10px;
                    font-size: calc(7px + 2vmin);
                    border-bottom: 1px solid white;
                    button {
                        margin-left: 10px;
                        color: white;
                        border: 0.5px solid white;
                        background-color: transparent;
                        &:hover {
                            color: black;
                            background-color: rgba(255, 255, 255, 0.5);
                            border-color: black;
                        }
                    }
                }
            }
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
